@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;


  --video-background: #323232;
  --control-background: #464646;
  --control-background-light: #5c5c5c;
  --control-background-disabled: #9a2a2a;
  --control-background-disabled-light: #ff5353;
  --context-menu-background: #474747;
  --primary-color: #08DFBC;
  --primary-color-light: #1af7d2;
  /* --primary-color-dark: #1af7d2; */
  --secondary-color: #408CFF;
  --text-color: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-wave: wave 0.4s infinite;

  @keyframes wave {
    0%,
    100% {
      height: 4px;
    }
    50% {
      height: 12px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  .button:hover {
    background-color: var(--primary-color-light);
    color: var(--text-color);
  }
  .button:disabled {
    @apply bg-gray-400;
  }
  .voice-detector {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
  .muted {
    background-color: #fff2;
  }
  .control {
    @apply bg-(--control-background) flex items-center w-fit select-none rounded-full;
  }
  .control[data-disabled="true"] {
    @apply bg-(--control-background-disabled) rounded-xl;
  }
  .control .up {
    @apply flex justify-center w-8 [&_img]:w-3;
  }
  .control .up[data-size='large'] {
    @apply w-10 [&_img]:w-4;
  }
  .control .action-button {
    @apply bg-(--control-background-light) flex items-center justify-center w-10 h-10 cursor-pointer rounded-full [&_img]:w-5 relative;
  }
  .control .action-button[data-size='large'] {
    @apply w-12 h-12 [&_img]:w-6;
  }
  .control .action-button[data-disabled="true"] {
    @apply bg-(--control-background-disabled-light) rounded-xl;
  }
  .action-button i {
    @apply absolute -top-1 -right-1 rounded-full w-4 h-4 bg-amber-400 text-white text-xs font-semibold text-center not-italic;
  }
  .voice-detector {
    @apply flex items-center justify-center w-fit aspect-square p-1 gap-0.5 bg-(--secondary-color) rounded-full shadow-2xl;
  }
  .voice-detector i {
    @apply w-1 h-1 rounded-full bg-white;
  }
  .voice-detector[data-loading="true"] i {
    @apply animate-wave;
  }
}